#signup
  %h1 Signup
  - form_for @user do |f|
    = f.label :name, 'name'
    = f.text_field :name, :class => "text"
    %br
    = f.label :login, 'username*'
    = f.text_field :login, :class => "text"
    %br
    = f.label :email, 'e-mail'
    = f.text_field :email, :class => "text"
    %br
    = f.label :password, 'password'
    = f.password_field :password, :class => "text"
    %br
    = f.label :password, 'confirm password'
    = f.password_field :password_confirmation, :class => "text"
    %br
    = f.submit "Register", :disable_with => 'Registering...', :class => "submit"
    = f.error_messages
  
    %div * username cannot be changed in the future
  %script $('user_name').focus()